$breakpoints:(
    md:768px,
    lg:992px,
);

:root{
    --color-midnight_green:#005864;
    --color-text_color:#444444;
    --color-black:#000000;
    --color-white:#ffffff;
    --color-gray1:#9B9898;
    --color-azure:#EBFDFF;
    --color-papaya_whip:#FFECD1;
    --color-light_cyan:#D6FBFF;
    --color-gray_blue:#A8CED8;
}